input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    background: rgba(43, 41, 41, 0.486) !important;
    background-color: rgba(43, 41, 41, 0.486) !important;
}

.workout-menu {
  position: relative;
  height: 100vh;
  min-width: 400px;
  max-width: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Cambia el color de todos los textos a blanco */
  background-size: cover;
  background-position: center;
}

.header h2,
.total-time p,
footer p {
  color: white; /* Asegura que estos textos sean blancos */
}



.back-btn {
  color: white; /* Asegura que el botón de retroceso sea blanco */
}

.complete-btn-workout {
  background-color: #000;
  color: white; /* Cambia el color del texto del botón de completar */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.complete-btn-workout:hover {
  background-color: #333; /* Cambia el color del botón al pasar el ratón */
}


.back-btn {
  color: white; /* Botón de retroceso en blanco */
}

.group-muscle {
  color: white; /* Nombre del grupo muscular en blanco */
}

footer {
  color: white; /* Texto del footer en blanco */
}

.exercise-list {
  width: 100%;
  margin: 0 auto;
}

.workout-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  width: 80%;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.completed {
  color: white; /* Asegura que los botones completados tengan texto blanco */
  background-color: #d4edda; /* Cambia el fondo para los botones completados */
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 10px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;  

}

.exercise-btn, .calendar-day {
  padding: 15px;
  background-color: #00000094;
  border: solid 1px #838383a9;
  color: white;
  font-weight: 400;
  border-radius: 30px;
  width: 100%;
  font-size: 16px;
}

.exercise-btn.completed {
  background-color: #d4edda; /* Verde claro para ejercicios completados */
  border-color: #28a745; /* Borde verde */
  color: #155724; /* Texto verde oscuro */
}

.exercise-btn .checkmark {
  color: #28a745;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}



.modal-content h2{
  color: #000;
}

.modal-content h3{
  color: #000;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 20px;
}

.modal-logout {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  gap: 20px
}

.modal-btn {
  background-color: rgb(187, 0, 47);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.modal-btn:first-child {
  background-color: #2c2c2c;
}

.logout-btn {
  background-color: rgba(39, 39, 39, 0.356);
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 12px;
}

.logout-btn:hover {
  background-color: rgb(187, 0, 47);
}
