
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    background: rgba(43, 41, 41, 0.486) !important;
    background-color: rgba(43, 41, 41, 0.486) !important;
}
  
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: black;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .home-container {
    display: flex;
    height: 100vh;
    min-width: 400px;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  

  

  .home {
    text-align: center;
    padding: 40px;
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .muscle-group {
    margin: 0px;
    padding: 0px;
  }
  
  .logo-box img{
    width: 150px;
    height: 150px;
    margin: 0 auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  h1 {
    font-size: 36px;
  }
  
  p {
    font-size: 18px;
  }



.start-btn {
  width: 80%;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.record-btn {
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 10px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;  
}


.group-muscle-btn {
    padding: 15px;
    background-color: #2b2b2b00;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    font-size: 32px;
  }


.footer-logo p{
 text-decoration: none;
 font-size: 14px;
 font-weight: 300;
}

.footer-logo a{
    text-decoration: none;
    color: #adff2f; 
    font-weight: bolder;
   }

   .paragraph {
    color: greenyellow;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
  }



  .App {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

  }
