body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: black;
  --sb-track-color: #27272746;
  --sb-thumb-color: yellowgreen;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

.data-overview {
  --sb-track-color: #27272746;
  --sb-thumb-color: yellowgreen;
  --sb-size: 7px;
}

.data-overview::-webkit-scrollbar {
  width: var(--sb-size);
}

.data-overview::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.data-overview::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}


.buttons {
  margin-top: 40px;
}

.start-btn, .record-btn {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.start-btn {
  background-color: black;
  color: white;
}

.record-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
}



footer {
  margin-top: 20px;
  font-size: 12px;
}

/* Estilos para WorkoutMenu y WeeklyRecord */
.workout-menu, .weekly-record {
  padding: 20px;
  height: 100vh;
  text-align: center;
}



.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.calendar-day {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.max-weights {
  margin-top: 20px;
}

.max-weights ul {
  list-style: none;
  padding: 0;
}

/* Difuminar el fondo cuando el modal esté abierto */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  backdrop-filter: blur(5px); /* Difuminar el fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 18px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.controls button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease; /* Transiciones suaves */
}

.controls button img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1); /* Iconos blancos */
}

.controls button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo más visible al hacer hover */
  transform: scale(1.1); /* Efecto de agrandamiento en hover */
}

/* Si el fondo transparente y sin borde no se aplica, intenta con !important */
.controls button {
  background-color: transparent !important;
  border: none !important;
}


.exercise-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.info-series {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.series-btn, .reps-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

.exercise-image-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.exercise-image {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.exercise-image img {
  width: 100%;
  border-radius: 10px;
}



.weights-input input {
  width: 95%;
  padding: 12px;
  margin: 5px auto;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.modal-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.timer-display {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0px;
}

.time-and-complete {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.complete-button  {
  background-color: black;
  color: white;
  padding: 10px 50px; /* Ajuste del padding */
  height: 3rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


.controls button  {
  background-color: transparent !important;
  border: none !important;
}
.data-overview {
  padding: 20px;
  max-width: 100vw;
  overflow-y: auto; /* Permite el scroll vertical */
  height: 100vh; /* Asegura que ocupe toda la pantalla */
  box-sizing: border-box; /* Para asegurarse de que padding no exceda el 100% del ancho */
}

.data-overview section {
  margin-bottom: 20px;
  background-color: #0000007a;
  border-radius: 15px;
  padding: 1rem 1rem;
}

.data-overview ul {
  list-style: none;
  padding: 0;
}

.data-overview li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-size: 14px;

}

.data-overview h2 {
  font-size: 18px;
  margin-top: 0px;
  font-weight: 300;
  color: greenyellow; /* Asegura que los títulos sean legibles */
}

.data-overview h1 {
  font-size: 20px;
  font-weight: 500;
  
}

.data-overview p { 
  text-align: left;
  font-size: 14px;
  font-weight: 300;
}

.back-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  padding-inline: 0px;
}

/* Ajustes para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  .data-overview {
    padding: 10px;
    font-size: 14px; /* Reduce ligeramente el tamaño de fuente en pantallas más pequeñas */
  }

  .back-btn {
    font-size: 20px; /* Reduce el tamaño del botón de vuelta en pantallas pequeñas */
  }

  .data-overview h1 {
    font-size: 24px;
  }

  .data-overview h2 {
    font-size: 18px;
  }

  .data-overview li {
    font-size: 14px;
  }

  .data-overview .details {
    font-size: 14px;
  }

  .complete-btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
  }
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
}

.back-btn {
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
}


.pesoCorporal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pesoCorporal-btn {
  background-color: #f0f0f000;
  color: white;
  border: solid 1px yellowgreen;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* Estilos cuando está en modo edición */
.pesoCorporal-editar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-peso {
  width: 80%;
  max-width: 100px;
  cursor: pointer;
  padding: 12px 12px;
  border: 1px solid yellowgreen;
  background-color: #f0f0f000;
  color: #ffffff;
  display: flex;
  justify-content: space-between; /* Para separar contenido si es necesario */
  align-items: center;
  border-radius: 16px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.guardar-btn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: solid 1px yellowgreen;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button{
  font-size: 14px;
  border-radius: 15px;
}

/* Aplica estilo al summary */
details summary {
  font-size: 14px;
  cursor: pointer;
  padding: 12px 12px;
  border: 1px solid yellowgreen;
  background-color: #f0f0f000;
  border-radius: 16px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between; /* Para separar contenido si es necesario */
  align-items: center;
}

/* Cuando el details está abierto, cambia el estilo del summary */
details[open] summary {
  background-color: #d0d0d0;
}

/* Personaliza el triángulo que aparece al lado del summary */
details summary::marker {
  color: #333; /* Cambia el color del triángulo */
}


